.lightbox {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #FFFFFF;
    --current-slide: 0;
    display: none;
}
.lightbox .lightbox-buttons > img {
    position: absolute;
    right: 0;
    cursor: pointer;
}

.lightbox-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 130px;
}

.lightbox-button.lightbox-button_close {
    right: 0;
    top: 80px;
}

.lightbox-button_next {
    right: 0;
}

.slides {
    display: flex;
    height: 100%;
}

.slide {
    flex: 0 0 100%;
    position: relative;
}

.slides img, .slides video {
    width: 1050px;
    height: 900px;
    object-fit: cover;
    transform: translate(-50%, -50%);
    position: relative;
    top: 50%;
    left: 50%;
    padding: 100px;
    border-radius: 105px;
}

.slide .media-infos {
    color: #901C1C;
    font-size: 24px;
    width: 1050px;
    transform: translateX(calc(-50% + 100px));
    position: absolute;
    left: 50%;
    bottom: 50px;
}