#contact_modal {
    display: none;
    background: rgba(0, 0, 0, .3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    align-items: center;
    justify-items: center;
}

.photograph-header>div {
    justify-self: self-start;
}

.photograph-header .photographer-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    justify-self: self-end;
}

.photograph-header h1 {
    font-size: 64px;
    line-height: 64px;
    color: #D3573C;
    margin: 0;
}

.photograph-header>div {
    font-size: 24px;
    line-height: 31px;
    color: #901C1C;
}

.photograph-header>div>span {
    font-size: 18px;
    line-height: 23px;
    color: #525252;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photograph-medias {
    margin: 20px 100px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 95px;
    grid-row-gap: 30px;
}

.photograph-medias article .media, .photograph-medias article .media-infos i {
    cursor: pointer;
}

.photograph-medias article .media-item {
    width: 100%;
    height: 300px;
    aspect-ratio: 7/6;
    object-fit: cover;
    border-radius: 5px;
}

.photograph-medias article .media-infos {
    display: flex;
    justify-content: space-between;
    color: #901C1C;
    font-size: 24px;
    line-height: 31px;
    padding-top: 10px;
}

.photograph-medias article .media-infos span {
    width: calc(100% - 70px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.photograph-medias article .media-infos img {
    width: 20px;
    height: 20px;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    max-width: 670px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    align-items: self-start;
    width: 100%;
    height: initial;
    margin-bottom: 20px;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input, form textarea {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
}

form textarea {
    min-height: 170px;
}

form .contact_button {
    font-size: 18px;
    margin-top: 25px;
}

.sticky {
    background: #DB8876;
    position: fixed;
    bottom: 0;
    right: 30px;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
    font-size: 24px;
    width: 375px;
}

.sort {
    display: flex;
    align-items: center;
    margin: 0 100px;
    padding: 10px 0;
}

.sort label {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    margin-right: 25px;
}

.sort .dropdown {
    position: relative;
    width: 170px;
    height: 55px;
}

.sort .dropdown::before {
    content: "";
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 1;
    width: 8px;
    height: 8px;
    border-top: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}

.sort .dropdown.active::before {
    top: 20px;
    transform: rotate(-225deg);
}

.sort .dropdown input {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #911C1C;
    color: #FFFFFF;
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 18px;
}

.sort .dropdown .text-box::placeholder {
    color: #FFFFFF;
}

.sort .dropdown .options {
    position: absolute;
    z-index: 1;
    top: 50px;
    width: 100%;
    background: #911C1C;
    color: #FFFFFF;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    display: none;
}

.sort .dropdown.active .options {
    display: block;
    padding: 10px 10px 0 10px;
}

.sort .dropdown .options div {
    padding: 20px 10px;
    cursor: pointer;
    font-weight: 700;
    font-size: 18px;
    border-top: 1px solid #FFFFFF;
}